In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
wind_df = pd.read_csv('open-meteo-62.39N25.62E139m (1).csv', skiprows=3)

In [7]:
wind_df.head()

,time,snow_depth (m),wind_speed_10m (km/h),wind_direction_10m (°),wind_gusts_10m (km/h),surface_pressure (hPa)
0,2021-01-01T00:00,0.22,1.3,304,2.9,990.9
1,2021-01-01T01:00,0.22,2.5,225,5.0,991.2
2,2021-01-01T02:00,0.22,4.8,222,9.7,991.2
3,2021-01-01T03:00,0.22,6.1,230,11.9,991.2
4,2021-01-01T04:00,0.22,7.9,227,16.2,991.5

In [8]:
wind_df.shape

(41328, 6)

In [9]:
wind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41328 entries, 0 to 41327
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   time                    41328 non-null  object
 1   snow_depth (m)          41328 non-null  float64
 2   wind_speed_10m (km/h)   41328 non-null  float64
 3   wind_direction_10m (°)  41328 non-null  int64
 4   wind_gusts_10m (km/h)   41328 non-null  float64
 5   surface_pressure (hPa)  41328 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.9+ MB

In [10]:
time_clean = (wind_df["time"].astype("string").str.strip().str.strip("'\"").replace(r"^(?:nan|null|none)?$", pd.NA, regex=True))


mask = time_clean.notna()
wind_df["Timestamp"] = pd.NaT
wind_df.loc[mask, "Timestamp"] = pd.to_datetime(time_clean[mask],format="ISO8601",errors="coerce")

print("Parsed:", mask.sum(), " | NaT:", wind_df["Timestamp"].isna().sum())

Parsed: 41328  | NaT: 0

In [11]:
wind_df.drop(columns=["time"], inplace=True)

In [12]:
wind_df

,snow_depth (m),wind_speed_10m (km/h),wind_direction_10m (°),wind_gusts_10m (km/h),surface_pressure (hPa),Timestamp
0,0.22,1.3,304,2.9,990.9,2021-01-01 00:00:00
1,0.22,2.5,225,5.0,991.2,2021-01-01 01:00:00
2,0.22,4.8,222,9.7,991.2,2021-01-01 02:00:00
3,0.22,6.1,230,11.9,991.2,2021-01-01 03:00:00
4,0.22,7.9,227,16.2,991.5,2021-01-01 04:00:00
...,...,...,...,...,...,...
41323,0.00,7.9,221,16.9,987.3,2025-09-18 19:00:00
41324,0.00,6.9,221,15.1,987.0,2025-09-18 20:00:00
41325,0.00,6.6,223,12.6,986.7,2025-09-18 21:00:00
41326,0.00,7.3,230,13.3,986.4,2025-09-18 22:00:00
41327,0.00,5.4,236,13.3,986.2,2025-09-18 23:00:00

In [13]:
wind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41328 entries, 0 to 41327
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   snow_depth (m)          41328 non-null  float64
 1   wind_speed_10m (km/h)   41328 non-null  float64
 2   wind_direction_10m (°)  41328 non-null  int64
 3   wind_gusts_10m (km/h)   41328 non-null  float64
 4   surface_pressure (hPa)  41328 non-null  float64
 5   Timestamp               41328 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 1.9 MB

In [11]:
wind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41328 entries, 0 to 41327
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   snow_depth (m)          41328 non-null  float64
 1   wind_speed_10m (km/h)   41328 non-null  float64
 2   wind_direction_10m (°)  41328 non-null  int64
 3   wind_gusts_10m (km/h)   41328 non-null  float64
 4   surface_pressure (hPa)  41328 non-null  float64
 5   Timestamp               41328 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 1.9 MB

In [14]:
wind_df.duplicated().sum()

np.int64(0)

In [12]:
# Save the cleaned dataframe to a new CSV file
wind_df.to_csv("cleaned_datasets\cleaned_wind_data.csv", index=False)

In [13]:
print(wind_df.describe())

       snow_depth (m)  wind_speed_10m (km/h)  wind_direction_10m (°)  \
count    41328.000000           41328.000000            41328.000000
mean         0.168361              11.682907              200.268123
min          0.000000               0.000000                1.000000
25%          0.000000               8.100000              135.000000
50%          0.000000              11.100000              210.000000
75%          0.340000              14.800000              274.000000
max          0.900000              40.300000              360.000000
std          0.221944               4.995611               96.310183

       wind_gusts_10m (km/h)  surface_pressure (hPa)            Timestamp
count           41328.000000            41328.000000                41328
mean               26.135649              994.343726  2023-05-11 23:30:00
min                 1.400000              946.900000  2021-01-01 00:00:00
25%                17.600000              987.500000  2022-03-07 11:45:00
50%                24.800000              995.400000  2023-05-11 23:30:00
75%                33.500000             1002.300000  2024-07-15 11:15:00
max                84.200000             1033.700000  2025-09-18 23:00:00
std                11.248126               11.645714                  NaN